/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #00324f;
    font-size: 14px;
}


/* Header css */


/* End header css */


/* Carousel css*/


/* End carousel css */


/* Our css */


/* End our css */


/* Service css */


/* End Service css */


/* Discover css*/


/* End discover css */


/* Contact css */


/* End contact css */


/* Footer css */


/* End footer css */